<!--Sauraav Jayrajh-->
<!--ST10024620-->
@model Sauraav_POE_CLDV.Models.rentalModel

@{
    ViewData["Title"] = "Details";
}
<style>
    h1,
    h4,
    a,
    .form-check-label {
        color: white;
    }

    dl.row {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
        padding: 10px;
    }

    dt.col-sm-2 {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .center {
        text-align: center;
    }
</style>
<h1 class="center">Details</h1>

<div>
    <h4 class="center">rentalModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.carNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.carNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inspectorNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inspectorNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.driver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.driver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rentalFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rentalFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dateStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dateStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dateEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dateEnd)
        </dd>
    </dl>
</div>
<div class="center">
    <a asp-action="Edit" asp-route-id="@Model?.rentalID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
