@model Sauraav_POE_CLDV.Models.driverModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>driverModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.driverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.driverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.driverAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.driverAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.driverEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.driverEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.driverMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.driverMobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.driverID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
