@model IEnumerable<Sauraav_POE_CLDV.Models.driverModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.driverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.driverAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.driverEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.driverMobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.driverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.driverAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.driverEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.driverMobile)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.driverID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.driverID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.driverID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
