@model Sauraav_POE_CLDV.Models.carTableModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>carTableModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carBodyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carBodyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kilometresTraveled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kilometresTraveled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kilometresServed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kilometresServed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.available)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.carNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
