@model IEnumerable<Sauraav_POE_CLDV.Models.carTableModel>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/lux.css" rel="stylesheet" />
<style>
    h1 {
        color: white;
    }

    a {
        color: white;
    }

    table.table {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
    }

        table.table th,
        table.table td {
            background-color: transparent;
            border: none;
            color: white; /* Set table content color to white */
        }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span style="color: white;">@Html.DisplayNameFor(model => model.carmake)</span>
            </th>
            <th>
                <span style="color: white;">@Html.DisplayNameFor(model => model.carModel)</span>
            </th>
            <th>
                <span style="color: white;">@Html.DisplayNameFor(model => model.carBodyType)</span>
            </th>
            <th>
                <span style="color: white;">@Html.DisplayNameFor(model => model.kilometresTraveled)</span>
            </th>
            <th>
                <span style="color: white;">@Html.DisplayNameFor(model => model.kilometresServiced)</span>
            </th>
            <th>
                <span style="color: white;">@Html.DisplayNameFor(model => model.available)</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span style="color: white;">@Html.DisplayFor(modelItem => item.carmake)</span>
                </td>
                <td>
                    <span style="color: white;">@Html.DisplayFor(modelItem => item.carModel)</span>
                </td>
                <td>
                    <span style="color: white;">@Html.DisplayFor(modelItem => item.carBodyType)</span>
                </td>
                <td>
                    <span style="color: white;">@Html.DisplayFor(modelItem => item.kilometresTraveled)</span>
                </td>
                <td>
                    <span style="color: white;">@Html.DisplayFor(modelItem => item.kilometresServiced)</span>
                </td>
                <td>
                    <span style="color: white;">@Html.DisplayFor(modelItem => item.available)</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.carNo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.carNo">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.carNo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
