@model Sauraav_POE_CLDV.Models.inspectorModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>inspectorModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inspectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inspectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inspectorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inspectorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inspectorMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inspectorMobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.inspectorNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
