<!--Sauraav Jayrajh-->
<!--ST10024620-->
@model Sauraav_POE_CLDV.Models.returnTableModel

@{
    ViewData["Title"] = "Details";
}

<style>
    h1,
    h4,
    a,
    .form-check-label {
        color: white;
    }

    .row {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
        padding: 10px;
    }

    dl.row {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
        padding: 10px;
    }

    dt.col-sm-2 {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .center {
        text-align: center;
    }
</style>

<h1 class="center">Details</h1>

<div>
    <h4 class="center">returnTableModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rentalID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rentalID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inspectorNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inspectorNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dateReturn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dateReturn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.daysElapsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.daysElapsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fineValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fineValue)
        </dd>
    </dl>
</div>
<div class="center">
    <a asp-action="Edit" asp-route-id="@Model?.returnID" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    <a id="displayFeesButton" class="btn btn-primary" data-url="@Url.Action("CalculatePenaltyFee", "returnTableModel")">Display Fees Due</a>
</div>
<br />
<div class="center" id="displayFeesLabel">
    <h4>0</h4>
</div>



