<!--Sauraav Jayrajh-->
<!--ST10024620-->
@model IEnumerable<Sauraav_POE_CLDV.Models.returnTableModel>
@{
    ViewData["Title"] = "Index";
}
<style>
    h1 {
        color: white;
    }

    a {
        color: white;
    }

    table.table {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: white;
    }

        table.table th,
        table.table td {
            background-color: transparent;
            border: none;
            color: white;
        }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>@Html.DisplayNameFor(model => model.rentalID)</span>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.inspectorNo)</span>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.dateReturn)</span>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.daysElapsed)</span>
            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.fineValue)</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>@Html.DisplayFor(modelItem => item.rentalID)</span>
                </td>
                <td>
                    <span>@Html.DisplayFor(modelItem => item.inspectorNo)</span>
                </td>
                <td>
                    <span>@Html.DisplayFor(modelItem => item.dateReturn)</span>
                </td>
                <td>
                    <span>@Html.DisplayFor(modelItem => item.daysElapsed)</span>
                </td>
                <td>
                    <span>@Html.DisplayFor(modelItem => item.fineValue)</span>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
