@model IEnumerable<Sauraav_POE_CLDV.Models.returnTableModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rentalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inspectorNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.daysElapsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fineValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rentalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inspectorNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateReturn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.daysElapsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fineValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.returnID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.returnID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.returnID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
